@page "/modal"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public string ImagePath { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    private bool showModal = false;

    private void ToggleModal()
    {
        showModal = !showModal;
        JSRuntime.InvokeVoidAsync("setHtmlStyle", "overflow", showModal ? "hidden" : "auto");
    }
}

<div class="image-container" @onclick="ToggleModal" style="cursor: pointer;">
    <img src="@ImagePath" alt="@Description" class="img-fluid image" />
    <p class="image-description bg-opacity-75 bg-dark m-0 p-4">@Description</p>
</div>

@if (showModal)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" @onclick="ToggleModal">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content m-0 bg-dark">
                <div class="image-container p-4 text-center">
                    <img src="@ImagePath" alt="@Description" class="img-fluid image h-100">
                    <p class="image-description text-white bg-opacity-75 bg-dark m-0 mb-4 p-4">@Description</p>
                </div>
                <div data-bs-theme="dark">
                    <button type="button" class="btn-close position-absolute top-0 end-0 me-5 mt-4" aria-label="Close" @onclick="ToggleModal"></button>
                </div>
            </div>
        </div>
    </div>
}